.sectionhomepage-1 {
    background-image: url('../home_images/backAppointment.jpg');
}

.sectionhomepage-1,
.sectionhomepage-2 {
    height: 440px;
}

.span_dashboard {
    color: red;
    font-weight: 700;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e3f2fd;
}

.card {
    margin-top: 110px;
    align-items: center;

}

.card img
{
  height: 130px;
  width: 135px;
}
